<div class="bg-white rounded-lg shadow p-4 flex flex-col" >
    <div class="flex justify-between items-center mb-2">
      <h2 class="text-md font-semibold text-gray-800">{{ title }}</h2>
      <button class="text-gray-400 p-1" (click)="addTask()">+</button>
    </div>
        <app-task class="rounded-md mb-2" [ngClass]="{
          'bg-yellow-500': title === 'Por asignar',
          'bg-blue-500': title === 'Pendiente',
          'bg-orange-500': title === 'En proceso',
          'bg-green-500': title === 'Finalizado',
          'text-white': true
        }"
        *ngFor="let task of tasks" 
              [task]="task">
        </app-task>
</div>