<div class="create-group-container p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Crear Grupo</h2>
  
    <form (ngSubmit)="createGroup()">
      <div class="mb-4">
        <label for="groupName" class="block text-gray-700 font-bold mb-2">Nombre del Grupo:</label>
        <input
          id="groupName"
          type="text"
          [(ngModel)]="groupName"
          name="groupName"
          required
          class="w-full p-2 border border-gray-300 rounded-lg"
        />
      </div>
  
      <!-- Buscar Usuarios -->
      <div class="mb-4">
        <label for="searchEmail" class="block text-gray-700 font-bold mb-2">Buscar Usuarios:</label>
        <div class="flex items-center">
          <input
            id="searchEmail"
            type="text"
            [(ngModel)]="email"
            name="email"
            placeholder="Correo electrónico"
            class="flex-1 p-2 border border-gray-300 rounded-lg"
          />
          <button
            type="button"
            (click)="searchUser()"
            class="ml-2 bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-400"
          >
            Buscar
          </button>
        </div>
      </div>

  
      <div *ngIf="isLoading" class="text-gray-500">Buscando...</div>
      <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
      <ul *ngIf="users.length > 0" class="space-y-2">
        <li
          *ngFor="let user of users"
          class="flex items-center justify-between p-2 border border-gray-300 rounded-lg"
        >
          <span>{{ user.email }}</span>
          <button
            type="button"
            (click)="toggleUserSelection(user.id)"
            class="bg-green-500 text-white py-1 px-3 rounded-lg hover:bg-green-400"
          >
            {{ selectedUsers.includes(user.id) ? 'Quitar' : 'Agregar' }}
          </button>
        </li>
      </ul>
  
      <button
        type="submit"
        class="mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-400"
      >
        Crear Grupo
      </button>
    </form>
  </div>
  