<div class="flex flex-col h-screen">
  <header class="flex-shrink-0">
      <app-header></app-header> 
  </header>
  <div class="dashboard-container flex h-screen bg-gray-100">
      <aside class="sidebar w-60 bg-gray-800 text-gray-400 flex flex-col p-4">
          <h2 class="text-2xl font-bold text-white mb-4 border-b border-gray-700 pb-2">
              Espacios de trabajo
          </h2>
          <div class="workspace flex flex-col mb-6">
              <p class="text-lg font-medium text-gray-300 mb-3"><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Mi tablero</a></p>
              <p class="text-lg font-medium text-gray-300 mb-3"><a [routerLink]="['/calendar']" routerLinkActive="router-link-active" >Mi calendario</a></p>
          </div>
          <div class="workspace flex flex-col mb-6">
              <p class="text-lg font-medium text-gray-300 mb-3">Tableros Compartidos</p>
              <ul class="space-y-3">
                <li
                  *ngFor="let group of groupsLinks"
                  class="group p-3 bg-gray-700 hover:bg-gray-600 transition-colors rounded-lg"
                >
                  <a
                    [routerLink]="['/group', group.groupId]"
                    class="text-white font-medium text-sm flex items-center"
                  >
                    <span class="material-icons text-white mr-2">folder</span>
                    {{ group.groupName }}
                  </a>
                </li>
              </ul>
              <ng-template #noGroups>
                <p class="text-gray-500 text-center">No hay tableros compartidos.</p>
              </ng-template>
            </div>
          <div class="mt-auto">
              <button (click)="logout()"
                  class="w-full bg-red-600 text-white font-medium py-2 px-4 rounded-lg hover:bg-red-500 transition">
                  Log Out
              </button>
          </div>
      </aside>

    <main class="board-container flex-1 p-0">
      <header class="flex justify-between items-center bg-gray-300 text-gray-800 py-3 px-6 ">
        <div class="flex items-center space-x-4">
          <h1 class="text-2xl font-bold"> Mi tablero</h1>
        </div>
        <div class="flex items-center space-x-4">
          <button class="font-sans py-1 px-4 bg-blue-900 rounded-lg text-white" (click)="addUsers()">Crear grupo</button>
        </div>
      </header>

      <app-table [table]="table"></app-table>
    </main>
  </div>

  <app-popup>
    <ng-container *ngIf="createTask">
      <app-add-task [columnId]="columnId"></app-add-task>
    </ng-container>
    <ng-container *ngIf="editTask">
      <app-edit-task [taskId]="taskId" [tableId]="table?.id"></app-edit-task>
    </ng-container>
    <ng-container *ngIf="addUser">
      <app-share-with-users></app-share-with-users>
    </ng-container>
  </app-popup>

</div>