<div class="flex flex-col h-screen">
  <!-- Header -->
  <header class="flex-shrink-0">
    <app-header></app-header> <!-- Aquí se usa el componente del header -->
  </header>
  <div class="dashboard-container flex h-screen bg-gray-100">
    <!-- Barra Lateral Izquierda -->
    <aside class="sidebar w-60 bg-gray-800 text-gray-400 flex flex-col p-5">
      <h2 class="text-2xl mb-4 pb-4 border-b border-gray-700">Espacios de trabajo</h2>
      <div class="workspace flex-1">
        <p class="text-lg font-medium mb-3">Mis Tableros</p>
        <ul class="space-y-2">
          <li *ngFor="let board of boards" (click)="selectBoard(board)"
            class="cursor-pointer p-2 bg-gray-800 hover:bg-gray-600">
            {{ board.name }}
          </li>
        </ul>
      </div>
      <div class="workspace flex-1">
        <p class="text-lg font-medium mb-3">Tableros Compartidos</p>
        <ul class="space-y-2">
          <li *ngFor="let board of boards" (click)="selectBoard(board)"
            class="cursor-pointer p-2 bg-gray-800 hover:bg-gray-600">
            {{ board.name }}
          </li>
        </ul>
      </div>
      <button (click)="createBoard()" class="mt-4 bg-gray-800 hover:bg-gray-700 py-2 px-4 rounded-lg">
        + Crear Tablero
      </button>
    </aside>

    <!-- Área del Tablero Seleccionado -->
    <main class="board-container flex-1 p-0">
      <!-- Encabezado del Tablero -->
      <header class="flex justify-between items-center bg-gray-400 text-gray-800 py-3 px-6 ">
        <!-- Información del Tablero -->
        <div class="flex items-center space-x-4">
          <!-- Nombre del Tablero -->
          <h1 class="text-2xl font-bold">{{ selectedBoard?.name || 'Mi tablero de Listas'}}</h1>
        </div>
        <div class="flex items-center space-x-4">
          <!-- Nombre del Tablero -->
          <button class="font-sans py-1 px-4 bg-[#0fb884] rounded-lg text-white" (click)="openModal()">Share</button>
        </div>



      </header>

      <!-- Contenedor de Listas -->
      <div class="grid grid-cols-4 gap-4 p-5 bg-gray-100">
        <!-- Lista: Tareas por Asignar -->
        <div class="bg-white rounded-lg shadow p-4 flex flex-col">
          <div class="flex justify-between items-center mb-2">
            <h2 class="text-md font-semibold text-gray-800">Tareas por asignar</h2>
            <button class="text-gray-400 p-1">
              +
            </button>
          </div>
          <app-task></app-task>
        </div>

        <!-- Lista: Pendiente -->
        <div class="bg-white rounded-lg shadow p-4 flex flex-col">
          <div class="flex justify-between items-center mb-2">
            <h2 class="text-md font-semibold text-gray-800">Pendiente</h2>
            <button class="text-gray-400 p-1">
              +
            </button>
          </div>
          <app-task></app-task>
        </div>

        <!-- Lista: En Proceso -->
        <div class="bg-white rounded-lg shadow p-4 flex flex-col">
          <div class="flex justify-between items-center mb-2">
            <h2 class="text-md font-semibold text-gray-800">En Proceso</h2>
            <button class="text-gray-400 p-1">
              +
            </button>
          </div>
          <app-task></app-task>
        </div>

        <!-- Lista: Finalizadas -->
        <div class="bg-white rounded-lg shadow p-4 flex flex-col">
          <div class="flex justify-between items-center mb-2">
            <h2 class="text-md font-semibold text-gray-800">Finalizadas</h2>
            <button class="text-gray-400 p-1">
              +
            </button>
          </div>
          <app-task></app-task>
        </div>
      </div>
    </main>
  </div>

  <app-popup [title]="isEditMode ? 'Editar Tarea' : 'Compartir'">
    @if(isEditMode) {
      <app-edit-task></app-edit-task>
    } @else {
      <app-share-with-users></app-share-with-users>
    }
  </app-popup>

</div>