<div class="flex flex-col h-screen">
    <!-- Header -->
    <header class="flex-shrink-0">
      <app-header></app-header> <!-- Aquí se usa el componente del header -->
    </header>
    <div class="dashboard-container flex h-screen bg-gray-100">
      <!-- Barra Lateral Izquierda -->
      <aside class="sidebar w-60 bg-gray-800 text-gray-400 flex flex-col">
        <h2 class="text-2xl p-2 m-2 border-b border-gray-700">Espacios de trabajo</h2>
        <div class="workspace flex-1">
          <p class="text-lg font-medium m-2 p-2">Mis Tableros</p>
          <ul class="space-y-2">
            <app-board></app-board>
          </ul>
        </div>
        <div class="workspace flex-1">
          <p class="text-lg font-medium m-2 p-2">Tableros Compartidos</p>
          <ul class="space-y-2">
            <app-board></app-board>
          </ul>
        </div>
        <button class="mt-4 bg-gray-800 hover:bg-gray-700 py-2 px-4 rounded-lg">
          + Crear Tablero
        </button>
        <button (click)="logout()">Log Out</button>
      </aside>
  
      <!-- Área del Tablero Seleccionado -->
      <main class="board-container flex-1 p-0">
        <!-- Encabezado del Tablero -->
        <header class="flex justify-between items-center bg-gray-300 text-gray-800 py-3 px-6 ">
          <!-- Información del Tablero -->
          <div class="flex items-center space-x-4">
            <!-- Nombre del Tablero -->
            <h1 class="text-2xl font-bold"></h1>
          </div>
          <div class="flex items-center space-x-4">
            <!-- Nombre del Tablero -->
            <button class="font-sans py-1 px-4 bg-[#0fb884] rounded-lg text-white">Share</button>
          </div>
        </header>
  
        <!-- Calendario -->
        <div class="calendar w-full px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 bg-white border border-gray-300 rounded-xl shadow-md overflow-hidden mx-auto">
          <!-- Encabezado del Calendario -->
          <div class="calendar-header flex justify-between items-center p-4 border-b border-gray-200">
            <button (click)="changeMonth(-1)" class="prev-month text-blue-500 text-xl">Antes</button>
            <span class="month-name text-xl font-bold text-gray-700">
                {{ monthNames[currentMonth] }} del {{ currentYear }}
              </span>
            <button (click)="changeMonth(1)" class="next-month text-blue-500 text-xl">Siguiente</button>
          </div>
  
          <!-- Cuadrícula del Calendario -->
          <div class="calendar-grid grid grid-cols-7 gap-2 p-4 bg-gray-50">
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Domingo</div>
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Lunes</div>
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Martes</div>
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Miercoles</div>
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Jueves</div>
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Viernes</div>
            <div class="day-name text-center font-bold text-sm text-gray-600 p-2">Sabado</div>
  
            <!-- Los días del mes -->
            <div *ngFor="let day of daysInMonth" class="day text-center py-4 px-2 bg-white rounded-lg hover:bg-blue-100 cursor-pointer">
                Día: {{ day }}
                <div *ngIf="getTasksForDay(day).length === 0" class="text-gray-400 text-sm">
                  No hay tareas
                </div>
                <div *ngFor="let task of getTasksForDay(day)" class="task bg-gray-200 p-2 mt-2 rounded-md text-sm">
                  {{ task.title }}
                </div>
              </div>              
          </div>
        </div>
  
        <!-- Botón de regresar al dashboard -->
        <div class="back-button mt-8 text-center">
          <button  class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-400">
            Regresar al Dashboard
          </button>
        </div>
      </main>
    </div>
  </div>