<div class="bg-none p-2 mb-1 flex justify-between">
  <div>
    <h3 class="text-sm font-medium">{{ task.title }}</h3>
    <!-- <p class="text-xs text-gray-600">{{ task.descripcion }}</p> -->
    <p class="text-xs text-white">Prioridad: {{ task.priority }}</p>
    <p class="text-xs text-white">Fecha límite: {{ task.limitDate }}</p>
  </div>
  <div class="flex align-middle">
    <button class="opacity-50 hover:opacity-100 transition-opacity duration-50 " (click)="editTask()">
      <i class="fa-regular fa-pen-to-square text-gray-600"></i>
    </button>
  </div>
</div>