<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
      
      <!-- Formulario para ingresar el correo electrónico -->
      <div *ngIf="!isEmailSent && !isPasswordUpdated">
        <h2 class="text-2xl font-bold mb-4 text-gray-900">¿Olvidaste tu contraseña?</h2>
        <p class="text-gray-600 mb-4">Ingresa tu correo electrónico para recibir un enlace de restablecimiento.</p>
        <input [(ngModel)]="email" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-cyan-500" type="email" placeholder="Correo electrónico" />
        
        <div class="mt-6 flex justify-end">
          <button type="button" (click)="onClose()" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded mr-2">Cancelar</button>
          <button type="submit" (click)="onSubmitEmail()" class="bg-cyan-600 hover:bg-cyan-700 text-white py-2 px-4 rounded">Enviar</button>
        </div>
      </div>
  
      <!-- Formulario para ingresar el código de verificación -->
      <div *ngIf="isEmailSent && !isPasswordUpdated">
        <h2 class="text-2xl font-bold mb-4 text-gray-900 text-center">Ingresa el código de verificación</h2>
        <p class="text-gray-600 mb-4 text-center">Hemos enviado un código de 4 dígitos a tu correo electrónico.</p>
        
        <!-- Cuadros de texto individuales para cada dígito -->
        <div class="flex justify-center space-x-2 mb-4">
          <input #input [(ngModel)]="code[0]" maxlength="1" (input)="onInputChange($event, 0)" class="w-12 p-2 text-center border border-gray-300 rounded-md focus:outline-none focus:ring-cyan-500" type="text" />
          <input #input [(ngModel)]="code[1]" maxlength="1" (input)="onInputChange($event, 1)" class="w-12 p-2 text-center border border-gray-300 rounded-md focus:outline-none focus:ring-cyan-500" type="text" />
          <input #input [(ngModel)]="code[2]" maxlength="1" (input)="onInputChange($event, 2)" class="w-12 p-2 text-center border border-gray-300 rounded-md focus:outline-none focus:ring-cyan-500" type="text" />
          <input #input [(ngModel)]="code[3]" maxlength="1" (input)="onInputChange($event, 3)" class="w-12 p-2 text-center border border-gray-300 rounded-md focus:outline-none focus:ring-cyan-500" type="text" />
        </div>
  
        <div class="mt-6 flex justify-end">
          <button type="button" (click)="onClose()" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded mr-2">Cancelar</button>
          <button type="submit" (click)="onSubmitCode()" class="bg-cyan-600 hover:bg-cyan-700 text-white py-2 px-4 rounded">Enviar código</button>
        </div>
      </div>
  
      <!-- Mostrar la confirmación de que la contraseña fue actualizada -->
      <div *ngIf="isPasswordUpdated">
        <h2 class="text-2xl font-bold mb-4 text-gray-900 text-center">Enlace Enviado!</h2>
        <p class="text-gray-600 mb-4 text-center">Se le envió a su email un enlace para que restablesca su contraseña.</p>
  
        <div class="mt-6 flex justify-center">
          <button type="button" (click)="onClose()" class="bg-cyan-600 hover:bg-cyan-700 text-white py-2 px-4 rounded">Volver al Login</button>
        </div>
      </div>
  
    </div>
  </div>
  