<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #333333; text-align: center;">Recuperación de Contraseña</h1>
        <p style="color: #555555;">Hola,</p>
        <p style="color: #555555;">Hemos recibido una solicitud para restablecer tu contraseña. Si no realizaste esta solicitud, puedes ignorar este correo electrónico.</p>
        <p style="color: #555555;">Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
        <a href="/url" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">Restablecer Contraseña</a>
        <p style="color: #555555;">Si tienes alguna pregunta, no dudes en contactarnos.</p>
        <p style="color: #555555;">Saludos,<br>El equipo de soporte</p>
    </div>
</body>
