<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isOpen}" [ngStyle]="{'display': isOpen ? 'block' : 'none'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-lg">{{ title }}</h5>
          <button type="button" class="appearance-none border-none bg-transparent" (click)="closeModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>